<!-- views/menu.handlebars -->
<!DOCTYPE html>
<html>

<head>
    <title>Foodies - Menu</title>
    <link rel="stylesheet" href="/css/menu.css">
</head>

<body>
    <div id="menuDiv">
        <div id="verticalNav">
            <nav id="menuNav" class="navbar fixed-top navbar-expand-md">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link menu-link-first" href="/menu?section=All">All</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link" href="/menu?section=Appetizers">Appetizers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link" href="/menu?section=Main Course">Main Course</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link" href="/menu?section=Breads">Breads</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link" href="/menu?section=Rice">Rice</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link" href="/menu?section=Accompaniments">Accompaniments</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link-last" href="/menu?section=Desserts">Desserts</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div id="filters">
            <input type="submit" class='btn cat-btn' id="all" name="vnvfilter" value="All">
            <input type="submit" class='btn cat-btn' id="veg" name="vnvfilter" value="Veg">
            <input type="submit" class='btn cat-btn' id="nonveg" name="vnvfilter" value="Non-Veg">
        </div>
        <div id="menu-content">
            <div class="card-grid">
                {{#each items}}
                <div class="card">
                    <img src="/images/{{this.name}}.jpg" class="card-img-top" alt="{{this.name}} image" width="120"
                        height="220">
                    <div class="card-body">
                        <h5 class="card-title">{{this.name}}</h5>
                        <p class="card-text">{{this.description}}</p>
                        <div class="card-bottom">
                            <p id="price" class="card-text">INR {{this.price}}</p>
                            <div class="cart-controls">
                                <div class="quantity">
                                    <button class="minus">-</button>
                                    <span class="count">0</span>
                                    <button class="plus">+</button>
                                </div>
                                <button class="add-to-cart" data-item-id="{{this.id}}">Add to Cart</button>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
        <div id="cart-preview">
            <ul id="itemlist">
                <li>Hi this is first item</li>
            </ul>
        </div>
    </div>
</body>
<script src="/js/menu.js"></script>

</html>