<!-- views/profile.handlebars -->
<!DOCTYPE html>
<html>

<head>
    <title>Profile - {{user.first_name}}</title>
</head>

<body>
    <br><br><br><br>
    <h2>User Profile</h2>
    <p>First Name: {{user.first_name}}</p>
    <p>Last Name: {{user.last_name}}</p>
    <p>Mobile Number: {{user.mobile}}</p>
    <p>Email: {{user.email}}</p>
</body>

</html>